

$main-bgcolor: #54c1c4;
$white: #fff;
$main-color:#54c1c4;
$green-color: #a0ce4e;
$pink-bgcolor: #e56778;
$green-bgcolor: #a0ce4e;
$pink-color: #e56778;
$star-color: #e8ac56;
$gray-100: #f0f0f0;
$gray-200: #e0e0e0;
$gray-300: #ababab;
$gray-400: #818181;
$gray-600: #6f6f6f;
$gray-700: #666;
$gray-800: #323232;
$gray-900: #1e1e1e;
$link-font: 1.2rem;
$second-color: #1f3258;
